.container {
  height: 80px;
  width: 100%;
  min-width: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--default-padding);

  border-bottom: 1px solid var(--grey-color);
}

// LEFT AREA

.logo {
  cursor: pointer;

  &-icon {
    font-size: 3.5rem;
    color: var(--heading-color);
    margin-right: 5px;
  }
}
.heading-text {
  font-size: 2.5rem;
  color: var(--heading-color);
  user-select: none;
}

//  CENTER AREA

.item {
  font-size: 1.4rem;

  display: flex;
  align-items: center;
}

.box {
  height: 48px;
  width: 352px;
  padding: 10px 10px 10px 0;
  border: 1px solid var(--grey-color);
  border-radius: 30px;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  }
  &-btn {
    flex: 1;
    font-weight: 600;
  }
  &-btn:nth-child(1)::after,
  &-btn:nth-child(2)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 1px;
    height: 50%;
    transform: translate(0, 50%);
    background-color: var(--grey-color);
  }
  &-btn:nth-child(3) {
    color: var(--icon-grey);
    font-weight: 400;
  }

  &-search {
    color: white;
    padding: 8px;
  }
}

// RIGHT AREA
.home {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--text-color);

  padding: 10px 20px;

  border-radius: 30px;
  border: none;

  transition: background 0.2s ease;

  &:hover {
    background-color: var(--light-grey);
  }
}
.language {
  font-size: 2rem;
  padding: 10px;
  margin: 0 5px;
}
.user {
  width: 77px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 5px;

  border: 1px solid var(--grey-color);
  border-radius: 30px;

  transition: box-shadow 0.2s ease;

  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }
  &-avatar {
    width: 30px;
    height: 30px;
  }
}

.where {
  display: none;
  visibility: hidden;

  cursor: pointer;
}
.search-btn {
  font-size: 2rem;
  margin-right: 10px;
}
.question {
  flex: 1;
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 600;
  span {
    font-size: 12px;
    color: var(--icon-grey);
    font-weight: 400;
  }
}
.filter {
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  padding: 8px;
}

@media screen and (max-width: 1200px) {
  .heading-text {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .item {
    visibility: hidden;
    display: none;
  }
  .where {
    width: 100%;
    height: 100%;
    max-height: 54px;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 15px;
    visibility: visible;
  }
}
