.container {
  position: relative;
  cursor: pointer;

  transition: all 0.2s ease;

  &:has(.icon) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.icon {
  margin: auto;
}

.content {
  flex: 1 1;
  margin: auto;
  line-height: 2rem;
}

.shadow:hover {
  background-color: var(--light-grey);
}

.round {
  border-radius: 8px;
}
.scale:active {
  transform: scale(0.97);
}
