.container {
  position: relative;
  background-color: transparent;
  border: inherit;
  cursor: pointer;

  transition: all 0.2s ease;
}

.shadow:hover {
  background-color: var(--light-grey);
}

.round {
  border-radius: 8px;
}
.scale:active {
  transform: scale(0.97);
}
