.container {
  padding: var(--detail-default-padding);
}
.navigation-container {
  width: 100%;

  position: fixed;
  top: -50px;
  left: 0;
  z-index: 999;

  background-color: white;
  border-bottom: 1px solid var(--grey-color);
}
.navigation {
  width: 100%;
  max-width: 1120px;
  list-style-type: none;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  gap: 2.5rem;
  margin: auto;
  padding: 0;

  font-size: 1.4rem;
  font-weight: 600;
}

.navigation-item {
  cursor: pointer;
  padding: 3rem 0;
  border-bottom: 3px solid transparent;

  transition: all 200ms ease;

  &:hover {
    border-bottom-color: black;
  }
}

.navigation-text {
  color: var(--text-color);
  &:hover {
    color: var(--text-color);
  }
}
