.container {
  position: relative;
  height: 80px;
  min-width: 70px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--white-color);

  margin: auto;
  padding: var(--home-layout-padding);

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--grey-color);
  }
}

// DETAIL LAYOUT

.sm {
  padding: var(--detail-layout-padding);
  .box {
    width: 300px;
  }
}
.lg {
  position: sticky;
  top: 0;
  z-index: 100;
}

// LEFT AREA

.logo {
  text-decoration: none;
  &-icon {
    font-size: 3.5rem;
    color: var(--heading-color);
    margin-right: 5px;
  }
}
.heading-text {
  font-size: 2.5rem;
  color: var(--heading-color);
  user-select: none;
}

//  CENTER AREA

.item {
  font-size: 1.4rem;

  display: flex;
  align-items: center;

  &:nth-child(2) {
    cursor: pointer;
  }
}

.box {
  height: 48px;
  width: 352px;

  padding: 10px 10px 10px 0;
  border: 1px solid var(--grey-color);
  border-radius: 30px;
  transition: box-shadow 0.2s ease;

  justify-content: space-between;

  &:hover {
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
  }
  &-btn {
    border: none;
    flex: 1;
    font-weight: 600;
  }
  &-btn:nth-child(1)::after,
  &-btn:nth-child(2)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 1px;
    height: 50%;
    transform: translate(0, 50%);
    background-color: var(--grey-color);
  }
  &-btn:nth-child(3) {
    color: var(--icon-grey);
    font-weight: 400;
  }

  &-search {
    background-color: var(--heading-color);
    color: white;
    padding: 8px;
  }

  &-heading {
    font-weight: 600;
    margin-left: 30px;
  }
}

// RIGHT AREA
.home {
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--text-color);

  padding: 10px 20px;

  border-radius: 30px;
  border: none;

  transition: background 0.2s ease;

  &:hover {
    background-color: var(--light-grey);
  }
}
.language {
  font-size: 2rem;
  padding: 10px;
  margin: 0 5px;

  border-radius: 50%;
}
.user {
  position: relative;
  width: 77px;

  display: flex;
  align-items: center;
  justify-content: space-around;

  padding: 5px;

  border: 1px solid var(--grey-color);
  border-radius: 30px;

  transition: box-shadow 0.2s ease;

  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  }

  &-icon {
    svg {
      width: 16px;
      height: 16px;
    }
  }

  &-avatar {
    width: 30px;
    height: 30px;
    color: var(--icon-grey);
  }
}

.where {
  display: none;
  visibility: hidden;

  cursor: pointer;
}
.search-btn {
  font-size: 2rem;
  margin-right: 10px;
}
.question {
  flex: 1;
  display: flex;
  flex-direction: column;

  font-size: 14px;
  font-weight: 600;
  span {
    font-size: 12px;
    color: var(--icon-grey);
    font-weight: 400;
  }
}
.filter {
  border: 1px solid var(--grey-color);
  border-radius: 50%;
  padding: 8px;
}

// TOOLTIP MENU
.tooltip-box {
  width: 23rem;
  padding: 1rem 0;
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  border-bottom: 1px solid var(--grey-color);
}
.tooltip-item {
  cursor: pointer;
  width: 100%;
  height: 40px;

  padding: 0 1.5rem;
  margin: 0;
  font-size: 1.4rem;
  list-style-type: none;

  display: flex;
  align-items: center;

  &:hover {
    background-color: var(--light-grey);
  }
}

.highlight {
  font-weight: 600;
}

// REGISTRATION FORM

.registration {
  width: 568px;
  height: 682px;

  &-tittle {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--text-color);
    margin: auto;
  }
}
.close-section {
  position: relative;

  width: 100%;
  padding: 2.4rem;

  display: flex;
  align-items: center;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--grey-color);
  }
}
.close-icon {
  margin: 0;
}
.welcome-section {
  padding: 2.4rem;
}
.welcome-tittle {
  font-size: 2.2rem;
}

@media screen and (max-width: 1200px) {
  .heading-text {
    visibility: hidden;
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .item {
    visibility: hidden;
    display: none;
  }
  .where {
    width: 100%;
    height: 100%;
    max-height: 54px;
    border: 0.5px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0 15px;
    visibility: visible;
  }
}
