.container {
  background-color: var(--white-color);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  animation: fade 400ms ease;
}
.small {
  width: 40vw;
  height: 92vh;
}
.medium {
  width: 50vw;
  height: 92vh;
}
.large {
  width: 100vw;
  height: 100vh;
}

@keyframes fade {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
