.container {
  background-color: var(--white-color);
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  animation: fade 400ms ease;
}
.small {
  width: 55vw;
  height: 90vh;
  min-width: 690px;
  max-width: 780px;
  max-height: 90vh;
}
.medium {
  width: 70vw;
  height: 85vh;
  max-width: 90vw;
  min-width: 1032px;
}
@media screen and (max-width: 1130px) {
  .medium {
    width: auto;
    height: auto;
    min-width: auto;
  }
  // .small {
  //   width: 55vw;
  // height: 90vh;
  // max-width: 780px;
  // min-width: 690px;
  // }
}
@media screen and (max-width: 720px) {
  .small {
    width: 100vw;
    height: 100vh;
    min-width: auto;
  }
}
.large {
  width: 100vw;
  height: 100vh;
}

@keyframes fade {
  from {
    transform: translate(-50%, 50%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
