.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
  padding: 0;

  font-size: 1.5rem;
  color: inherit;
  text-decoration: inherit;

  cursor: pointer;

  &:hover {
    color: inherit;
  }
}
.item {
  width: 100%;
  position: relative;
}
.image-box {
  max-height: calc(var(--breakpoint-grid-max-height-row) - 110px);
  min-height: 26rem;
}
.carousel {
  width: 100%;
  height: 100%;
  min-height: 26rem;
}

.image {
  width: 100%;
  border-radius: 12px;
}
.like {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 2.5rem;
  color: var(--icon-grey);

  transform: translate(-50%, 50%);

  transition: all 200ms ease;

  z-index: 2;
  &:active {
    transform: scale(0.95) translate(-50%, 50%);
  }
}

.location {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  &-heading {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &-rate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.sub-heading {
  color: var(--icon-grey);

  margin: 0;
}
.price {
  margin: 1rem 0 0 0;
}
