.container {
  width: 100%;
  min-width: 270px;
  max-width: 270px !important;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 10px;
  margin-bottom: 10px;
  padding: 0 !important;

  font-size: 1.5rem;
  color: inherit;
  text-decoration: inherit;

  border-radius: 10px;

  cursor: pointer;

  &:hover {
    color: inherit;
  }
}
.item {
  width: 100%;
  position: relative;
}
.carousel {
  width: 100%;
  height: 250px;
}
.image {
  width: 100%;
  min-height: 250px;

  border-radius: 10px;
}
.like {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 2.5rem;
  color: var(--icon-grey);

  transform: translate(-50%, 50%);

  transition: all 200ms ease;

  z-index: 2;
  &:active {
    transform: scale(0.95) translate(-50%, 50%);
  }
}

.location {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
  &-heading {
    font-size: 1.5rem;
    font-weight: 600;
  }
  &-rate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
  }
}
.sub-heading {
  color: var(--icon-grey);

  margin: 0;
}
.price {
  margin: 1rem 0 0 0;
}
