@import url(reset.scss);
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  --cereal-bold: cerealBold;
  --cereal-book: cerealBook;
  --cereal-medium: cerealMedium;
  // text color
  --text-color: #222222;
  --heading-color: #ff385c;

  // border color
  --white-color: #fff;
  --grey-color: #dddddd;
  --light-grey: #f8f7f7;
  --icon-grey: #717171;

  --default-padding: 0 80px;
}

@media screen and (max-width: 850px) {
  :root {
    --default-padding: 0 24px;
  }
}

body {
  font-family: var(--cereal-book);
  color: var(--text-color);
  font-size: 1.2rem;
}

// implement font

@font-face {
  font-family: cerealBold;
  src: url(./../fonts/Airbnb_Cereal-Bold.woff2);
}
@font-face {
  font-family: cerealBook;
  src: url(./../fonts/Airbnb_Cereal-Book.woff2);
}

@font-face {
  font-family: cerealMedium;
  src: url(./../fonts/Airbnb_Cereal-Medium.woff2);
}
