@import url(reset.scss);
@import 'bootstrap/dist/css/bootstrap.min.css';
:root {
  --cereal-bold: cerealBold;
  --cereal-book: cerealBook;
  --cereal-medium: cerealMedium;
  // text color
  --text-color: #222222;
  --heading-color: #ff385c;
  --hot-pink-color: #e51e52;
  --text-danger: #c13515;

  // border color
  --white-color: #fff;
  --grey-color: #dddddd;
  --dark-grey: #b0b0b0;
  --light-grey: #f8f7f7;
  --calendar-hover-color: #f7f7f7;
  --icon-grey: #717171;

  --home-layout-padding: 0 8rem;
  --detail-layout-padding: 0 8rem;
  --item-padding: 2.4rem;

  --scroll-bar-color: #c5c5c5;
  --scroll-bar-bg-color: #f6f6f6;

  --max-screen-width: 236rem;

  --breakpoint-grid-max-height-row: 35rem;
  --breakpoint-grid_columns: 6;
  --breakpoint-grid_column-gap: 2.4rem;
  --breakpoint-grid_row-gap: 6rem;
}

@media (max-width: 1880px) {
  :root {
    --breakpoint-grid_columns: 5;
    --breakpoint-grid-max-height-row: 40rem;
  }
}
@media (max-width: 1640px) {
  :root {
    --breakpoint-grid_columns: 4;
    --breakpoint-grid-max-height-row: 43rem;
  }
}
@media (max-width: 1171px) {
  :root {
    --breakpoint-grid_columns: 3;
    --breakpoint-grid-max-height-row: 41rem;
  }
}
@media (max-width: 950px) {
  :root {
    --breakpoint-grid_columns: 2;
    --breakpoint-grid-max-height-row: 50rem;
  }
}
@media (max-width: 550px) {
  :root {
    --breakpoint-grid_columns: 1;
    --breakpoint-grid-max-height-row: 57rem;
  }
}

@media screen and (max-width: 850px) {
  :root {
    --home-layout-padding: 0 2.4rem;
    --detail-layout-padding: 0 4rem;
  }
}
@media screen and (max-width: 550px) {
  :root {
    --detail-layout-padding: 0 2.4rem;
  }
}

body {
  font-family: var(--cereal-book);
  color: var(--text-color);
  font-size: 1.2rem;
}
// implement font

@font-face {
  font-family: cerealBold;
  src: url(./../fonts/Airbnb_Cereal-Bold.woff2);
}
@font-face {
  font-family: cerealBook;
  src: url(./../fonts/Airbnb_Cereal-Book.woff2);
}

@font-face {
  font-family: cerealMedium;
  src: url(./../fonts/Airbnb_Cereal-Medium.woff2);
}
