.swiper {
  margin: 100px auto;
  width: 100%;
  height: 100%;

  margin: 0;

  z-index: 1;

  border-radius: 10px;

  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      visibility: visible;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  visibility: hidden;
  width: 30px;
  height: 30px;
  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.438) !important;
  border-radius: 50%;

  z-index: 2;

  transition: transform 250ms ease;

  user-select: none;

  &:hover {
    transform: scale(1.04);
  }

  &:active {
    transform: scale(0.95);
  }

  &::after {
    font-weight: 900;
  }
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  color: black;
}

.swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}
