.container {
  margin-top: 20px;
  height: 300vh;
}
.rooms {
  width: 100%;
  padding: var(--home-layout-padding);

  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  gap: 2rem;
}
.booking {
  gap: 2.7rem;
}
