.container {
  width: 100%;
  margin: auto;

  padding: var(--detail-default-padding);
  margin-top: 2rem;
}
.heading {
  font-weight: 600;
  font-size: 2.6rem;
}
.rate {
  font-size: 1.4rem;
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate-left {
  font-weight: 600;

  gap: 0.5rem;
  flex: 1;
}

.rate-number {
  font-weight: 400;
}
.superhost {
  font-weight: 400;
  gap: 5px;
}

.rate-right {
  gap: 1rem;
}
.interact {
  gap: 0.7rem;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

// ALBUM SECTION

.albums {
  position: relative;

  width: 100%;
  max-height: 517px;

  justify-content: center;

  border-radius: 1.5rem;
  overflow: hidden;

  gap: 8px;
  margin-top: 1.5rem;
}

.item {
  height: 517px;

  flex-direction: column;
  justify-content: flex-end;
  flex: 1;

  overflow: hidden;

  z-index: 2;

  &:nth-child(2),
  &:nth-child(3) {
    flex: 0.5;
    gap: 8px;
    span {
      min-height: 250px;
      min-width: 100%;
      flex: 1;

      overflow: hidden;
    }
  }
}

.show-all {
  position: absolute;

  bottom: 0;
  right: 0;
  transform: translate(-20%, -100%);
  z-index: 15;
}
.show-btn {
  font-size: 1.4rem;
  justify-content: flex-start;

  gap: 0.5rem;
  background-color: white;
  padding: 5px 15px;

  border: 1px solid black;
}

.hover {
  transition: all 500ms ease;

  &:hover {
    transform: scale(1.2);
    transform-origin: 50% 50%;
  }
}

.flex {
  display: flex;
  align-items: center;
}
.pointer {
  cursor: pointer;
}
