.container {
  width: 100%;
  max-width: 1120px;
  margin: auto;

  margin-top: 2rem;
}
.heading {
  font-weight: 600;
  font-size: 2.6rem;
}
.rate {
  font-size: 1.4rem;
  color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rate-left {
  font-weight: 600;

  gap: 0.5rem;
  flex: 1;
}

.rate-number {
  font-weight: 400;
  gap: 0.5rem;
}

.rate-right {
  gap: 1rem;
}
.interact {
  gap: 0.7rem;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;

  &:active {
    transform: scale(0.95);
  }
}

// ALBUM SECTION

.albums {
  position: relative;

  width: 100%;
  max-height: 517px;

  justify-content: center;

  border-radius: 1.5rem;
  overflow: hidden;

  gap: 8px;
  margin-top: 1.5rem;
}

.item {
  height: 517px;

  flex-direction: column;
  justify-content: flex-end;
  flex: 1;

  overflow: hidden;

  z-index: 2;

  &:nth-child(2),
  &:nth-child(3) {
    flex: 0.5;
    gap: 8px;
    div {
      min-height: 250px;
      min-width: 100%;
      flex: 1;

      overflow: hidden;
    }
  }
}

.hover {
  position: relative;

  overflow: hidden;

  transition: all 200ms ease;

  &:hover {
    &::after {
      opacity: 0.15;
      transition-duration: 300ms;
    }
  }
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease-out;
    pointer-events: none;
  }
}

.show-all {
  position: absolute;

  bottom: 0;
  right: 0;
  transform: translate(-20%, -100%);
  z-index: 15;
}
.show-btn {
  width: 16rem;
  font-size: 1.4rem;

  background-color: white;
  padding: 5px 15px;

  border: 1px solid black;
}
.grid {
  width: 16px;
  height: 16px;
}

.flex {
  display: flex;
  align-items: center;
}
.pointer {
  cursor: pointer;
}

// MODAL

.more-offer {
  overflow: hidden;
  height: 100%;
}
.close-section {
  position: sticky;
  padding: 2.4rem;
}
.close-section-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.close-icon {
  width: fit-content;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.8rem;
  &:hover {
    background-color: var(--grey-color);
  }
}

.album {
  max-height: 90vh;

  overflow: auto;
}
.album-column {
  margin: auto;
  max-width: 50vw;
  flex: 50%;
  padding: 0 4px;
}
.album-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.album-image {
  margin-top: 8px;
  vertical-align: middle;
}
