.container {
  width: 100%;
  height: 136px;

  position: fixed;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  z-index: 999;
}
.show-map {
  position: absolute;

  &-btn {
    color: white;
    font-size: 1.4rem;
    padding: 14px 19px;
    background-color: var(--text-color);

    border-radius: 30px;
  }
}

.term {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: white;
  padding: 13px 40px 14px 40px;

  z-index: 999;
}
.term-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
.term-item {
  font-size: 1.4rem;
  color: var(--text-color);
}
.dot {
  width: 19px;
  height: 18px;
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: center;
  transform: translate(0, -50%) scale(1.8);
}
.temp {
  gap: 30px;
}
