.container {
  width: 100%;
  max-width: var(--max-screen-width);

  height: 136px;

  position: fixed;
  bottom: 0;

  flex-direction: column;

  z-index: 999;
}
.show-map-btn {
  color: white;
  font-size: 1.4rem;
  font-weight: 600;

  padding: 14px 19px;
  background-color: var(--text-color);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  border-radius: 30px;

  outline: none;
}

.term {
  width: 100%;

  background-color: white;
  padding: 13px 40px 13px 40px;

  z-index: 999;
}
.term-list {
  list-style-type: none;
  gap: 10px;
  &:nth-child(2) {
    gap: 20px;
  }
}
.term-item {
  align-items: flex-end;

  font-size: 1.4rem;
  color: var(--text-color);
  cursor: pointer;

  span {
    text-align: center;
    margin-right: 5px;
    transform: translate(0, -10%);
  }
  &:nth-child(1) span {
    font-size: 1.8rem;
  }
  &:nth-child(2) span {
    font-size: 1.2rem;
  }
}
.dot {
  color: var(--text-color);
  text-align: center;
  transform: translate(0, -20%) scale(1.5);
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bold {
  font-weight: 600;
}
